body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50%;
}

.img-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.book {
  margin-top: 20px;
}

.singleSH {
  margin-top: 100px;
}
.navbar {
  height: 50px;
}

.add_btn {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
}

h5 {
  text-align: center;
}
