body {
  font-family: sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #a8dadc;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.carousel-inner > .carousel-item > img {
  width: 450px;
  height: 450px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50%;
}

.img-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

.book {
  margin-top: 20px;
}

.singleSH {
  margin-top: 100px;
}

.nav-link {
  color: #f1faee;
  font-family: "Sedgwick Ave", cursive;
}

.nav-color {
  background-color: #457b9d;
  opacity: 0.75;
}

.navbar {
  height: 50px;
  width: 100%;
}

.add_btn {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.title {
  text-align: left;
  font-size: 50px;
  color: #f1faee;
  font-family: "Permanent Marker", cursive;
}

h5 {
  text-align: center;
}
